.aboutus-container {
    width: 2052px;
    height: 587px;
    flex-shrink: 0;

    .ellipse {
        width: 100vw;
        height: 260px;
        flex-shrink: 0;
        border-radius: 1440px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(80, 163, 210, 0.12) 48%, rgba(161, 80, 240, 0.20) 100%);
        filter: blur(100px);
    }

    .testimonial {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;

        .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .title {
                color: var(--black, #000);
                text-align: center;

                /* H2 */
                font-family: Sora;
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                /* 67.2px */
            }

            .description {
                color: var(--black, #000);
                text-align: center;

                /* Body/Body 1 */
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%;
                /* 32px */
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;

            .cards {
                display: flex;
                align-items: center;
                gap: 24px;

                .card {
                    display: flex;
                    width: 668px;
                    padding: 24px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 40px;
                    border-radius: 16px;
                    border: 1px solid #FFF;
                    background: var(--Glass-60, rgba(255, 255, 255, 0.60));
                    backdrop-filter: blur(25px);

                    .comment {
                        align-self: stretch;
                        color: var(--Greyscale-800, #5E6678);

                        /* Body/Body 2 */
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        /* 24px */
                    }

                    .user {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        align-self: stretch;

                        .avatar {}

                        .info {
                            .name {}

                            .position {}
                        }
                    }
                }
            }

            .arrows {
                display: flex;
                align-items: flex-start;
                gap: 24px;

                .arrow-left,
                .arrow-right {
                    display: flex;
                    padding: 10px;
                    align-items: flex-start;
                    gap: 10px;
                    border-radius: 100px;
                    border: 1px solid var(--Greyscale-800, #5E6678);

                    .arrow {
                        display: flex;
                        width: 24px;
                        height: 24px;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }

    .shadow-left {
        width: 82px;
        height: 238px;
        flex-shrink: 0;
        background: linear-gradient(269deg, #FFF 0.81%, rgba(255, 255, 255, 0.00) 99.2%);
    }

    .shadow-right {
        width: 82px;
        height: 239px;
        flex-shrink: 0;
        background: linear-gradient(269deg, #FFF 0.81%, rgba(255, 255, 255, 0.00) 99.2%);
    }
}