// media
@media (min-width: 996px) and (max-width: 1200px) {
    :root {
        font-size: 14px;
    }

    .hero-banner-container {
        .banner-img {
            min-width: 600px !important;
            min-height: 100% !important;
        }
    }
}

@media (max-width: 996px) {
    :root {
        font-size: 14px;
    }

    .homepage-container {
        .hero-banner-container {
            height: calc(100vh - 76.88px) !important;
            flex-direction: column;
            justify-content: center !important;
            padding: 10px !important;

            .banner-text {
                align-items: center;

                .title {
                    text-align: center;
                }

                .small {
                    text-align: center;
                }
            }

            .banner-ellipse {
                width: 50%;
                height: 300px;
                right: 100px !important;
                bottom: 100px !important;
            }

            .banner-img {
                background-image: url('/static/img/homepage/homepage-banner-mobile.svg') !important;
                min-width: 90% !important;
            }
        }
    }

    .features-container {
        .features-text {
            .title {
                text-align: center;
            }
        }

        .features-content {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .feature-container {
                border-radius: 16px !important;
            }
        }
    }
}