.primary-btn {
    border-radius: 16px;
    width: 260px;
    background-color: #131A2B;
    color: #fff;
    transition: all 0.2s ease-in-out;
    border: 1px solid #131A2B;

    &:hover {
        background-color: #fff;
        color: #131A2B;
        border: 1px solid #131A2B;
    }
}

.hero-banner-container {
    // height: calc(100vh - 34px - 40px);
    padding-left: 80px;
    display: flex;
    gap: 34px;
    justify-content: space-between;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;

    .banner-ellipse {
        width: 894px;
        height: 516px;
        transform: rotate(28.585deg);
        position: absolute;
        background: radial-gradient(50% 50% at 50% 50%, rgba(80, 163, 210, 0.12) 48%, rgba(161, 80, 240, 0.20) 100%);
        filter: blur(100px);
        right: -190px;
    }

    .banner-text {
        max-width: 643px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .title {
            font-size: 4rem;
            line-height: 5rem;

            .highlight {
                color: var(--ifm-color-primary);
            }
        }

        .small {
            font-size: 1.4rem;
            line-height: 2rem;
            max-width: 441px;
        }


    }

    .banner-img {
        svg {
            backdrop-filter: blur(11.61064338684082px);
        }
    }

}